<script type="text/javascript">
  var utag_data = {
    tealium_event : "pageview",
  }
  </script>
  
  
  <script type="text/javascript">
      (function(a,b,c,d){
      a='//tags.tiqcdn.com/utag/weightwatchers/main/prod/utag.js';
      b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
      a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
      })();
  </script>
  
      