<!-- Flashtalking Site Activity Tag: Weight Watchers BEFR (10801) | Confirmation Page Corporate BEFR (79589) | Confirmation Page (8212) | Expected URL: | Export Date: May. 14, 2019 @ 9:45am UTC -->
<a href="javascript:null(void);" onClick="ftGoalTag79589();return false;">on site activity click</a>
<script type="text/javascript">
var ftGoalTag79589 = function(){
    var ftGoal = new Image();
    ftGoal.src = "https://servedby.flashtalking.com/spot/1/10801;79589;8212/?spotName=Confirmation_Page_Corporate_BEFR&ftXCurrency=[%INSERT_TRANSACTION_CURRENCY_HERE%]&ftXName=[%INSERT_TRANSACTION_NAME_HERE%]&ftXNumItems=[%INSERT_TRANSACTION_QUANTITY_HERE%]&ftXRef=[%INSERT_TRANSACTION_ID_HERE%]&ftXType=[%INSERT_TRANSACTION_TYPE_HERE%]&ftXValue=[%INSERT_TRANSACTION_VALUE_HERE%]&U1=[%INSERT_PRODUCT_TYPE_HERE%]&U2=[%INSERT_FUNNEL_STEP_HERE%]&U3=[%INSERT_USER_NEWLY_REGISTERED_HERE%]&U4=[%INSERT_SIGNUP_COMMITMENT_LENGTH_HERE%]&U5=[%INSERT_SIGNUP_PLAN_HERE%]&U6=[%INSERT_USER_UUID_HERE%]&cachebuster="+parseInt(Math.random()*9e9);
    ftGoal.onload = ftLoaded79589;
};
var ftLoaded79589 = function() {
    //Flashtalking Activity Spot Successfully Fired
};
</script>